@page
@using MB.Domain.CommentAgg
@model MB.Presentation.Areas.Administrator.Pages.CommentManagement.ListModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="float-left">Comment List</h3>
        
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Article</th>
                    <th>Status</th>
                    <th>CreationDate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in @Model.Comments)
                {
                    <tr>
                        <td>@comment.Id</td>
                        <td>@comment.Name</td>
                        <td>@comment.Email</td>
                        <td>@comment.Message</td>
                        <td>@comment.Article</td>

                        <td>
                            @if (comment.Status == Statuses.New)
                            {
                                <form method="post" asp-page-handler="Accept" class="float-left">
                                    <button class="btn btn-success">Accept</button>
                                    <input type="hidden" name="id" value="@comment.Id" />
                                </form>
                                <form method="post" asp-page-handler="Reject" class="float-left">
                                    <button class="btn btn-danger">Reject</button>
                                    <input type="hidden" name="id" value="@comment.Id" />
                                </form>
                            }else if (comment.Status==Statuses.Confirmed)
                            {
                                <i class="fa fa-check fa-2x text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-close fa-2x text-danger"></i>
                            }
                        </td>
                        <td>@comment.CreationDate</td>
                        <td>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@comment.Id">Edit</a>

                        </td>
                        <td>
                           @* @if (article.IsDelete)
                            {
                                <form method="post" asp-page-handler="Activate" class="float-left">
                                    <button class="btn btn-success">Activate</button>
                                    <input type="hidden" name="id" value="@article.Id" />
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Delete" class="float-left">
                                    <button class="btn btn-danger">Delete</button>
                                    <input type="hidden" name="id" value="@article.Id" />
                                </form>
                            }*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

